@import "settings";

.thumbnail_img {
    display: block;
    max-width: 150px;
    height:auto;
    margin: 0 0 1rem;
  }

.col {
    float: left;
    box-sizing: border-box;
}

.py4 { 
    padding-top: 4rem; 
    padding-bottom: 4rem 
}

.px2 { 
    padding-left: 2rem; 
    padding-right: 2rem 
}

.px4 { 
    padding-left: 4rem; 
    padding-right: 4rem 
}

.sm-col-4 {
    width: 33.33333%;
}

.sm-col-8 {
    width: 66.66667%;
}

.mb2 { 
    margin-bottom: 1rem 
}

.border {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.125);
  }

.r1 {
    font-size: 2rem;
  }

.mxn2 { margin-left: -1rem; margin-right: -1rem; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }

.mb0 { margin-bottom: 0 }

img {
    display: block;
    max-width: 100%;
    height:auto;
    margin: 0 0 1rem;
  }
  
img + em {
  display: block;
  max-width: 100%;
  height:auto;
  margin: 0 0 1rem;
  border-radius: 5px;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}
  
.center-image
{
  margin: 0 auto;
  display: block;
}
